header {
    margin-bottom: 30px;
}

img.logo {
    width: 150px;
}

h1 {
    padding-top: 40px;
}

div.ckeckgroup label {
    display: block;
}

div.ckeckgroup label input {
    margin-right: 8px;
}

label.forma-pagamento {
    margin-left: 1vw;
}

small.form-text {
    color: #e7152a !important;
    font-weight: bold;
}

#card {
    display: none;
}
